.cart-info {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding-top: 4px;
}
.custom-button-quantity{
    background-color: white;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
}
.custom-button-quantity:hover{
    background-color: deepskyblue;
    color: white;

}
.container-quantity{
    display: flex;
    top: 90%;
    /*position: absolute;*/
}
.custom-button-remove{
    margin-left: 100px;
    height: 30px;
    position: absolute;
    border: 0 solid gray;
    background-color: white;
}
.custom-button-order{
    margin-left: 180px;
    height: 30px;
    position: absolute;
    border: 0 solid gray;
    background-color: white;
}

.custom-button-order:hover{
    color: orange;
}
.custom-button-remove:hover{
    color: red;
}
.container-quantity p{
    margin-left: 10px;
    margin-right: 10px;
}
.product-card{
    margin-top: 20px;
    height: auto;
}
.text-danger{

}
.detail-product{
    /*position: absolute;*/
    top: 70%;
}
.detail-product *{
    margin-bottom: 0px;
    margin-top: 0px;
}