.container-register {
    /*margin-left: 500px;*/
    /*margin-top: 100px;*/
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
    border: solid 1px black;
    box-shadow: 5px 10px 8px;
    /*background-color: white;*/
}
.container-register * {

    margin-top: 10px;

}
.nav-item:hover .dropdown-menu{
    display: block;
}
a {
    color: black;
}
/*h2{*/
/*    margin-left: 100px;*/
/*}*/
.button-submit{
    margin-top: 30px;
    text-align: center;
    margin-left: 100px;
    background-color: white;
    border:2px lightblue solid;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;

}
.button-submit:hover{
    background-color: deepskyblue;
    color: white;
}
.error-mess{
    color:red;
    margin-left: 40px;
}
.register-link{
    color: orangered;
}
.email{
    margin-left: 34px;
}
input{
    margin-left: 21px;
}